name: Build and deploy main branch

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Install Graphviz
        run: sudo apt-get -y install graphviz
      - name: Build with Maven
        run: mvn -B package --file pom.xml
      - uses: actions/cache@v5
        id: cache-target
        with:
          path: target
          key: tla-sample-app-serverless-target-${{ github.run_id }}

  deploy:
    name: deploy
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js 25.x
        uses: actions/setup-node@v6
        with:
          node-version: 25.x
      - uses: actions/cache@v5
        id: cache-target
        with:
          path: target
          key: tla-sample-app-serverless-target-${{ github.run_id }}
      - run: npm install -g serverless
      - run: serverless deploy
        env:
          SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
          TLA_SAMPLE_APP_SERVERLESS_ORG: ${{ secrets.TLA_SAMPLE_APP_SERVERLESS_ORG }}
          SLS_AWS_SDK: 3
      - run: serverless invoke --function seed_database --data 'unused'
        env:
          SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
          TLA_SAMPLE_APP_SERVERLESS_ORG: ${{ secrets.TLA_SAMPLE_APP_SERVERLESS_ORG }}
          SLS_AWS_SDK: 3
