name: Undeploy (manual)

on:
  workflow_dispatch:

jobs:
  undeploy:
    name: undeploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js 25.x
        uses: actions/setup-node@v6
        with:
          node-version: 25.x
      - run: npm install -g serverless
      - run: serverless remove
        env:
          SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
          TLA_SAMPLE_APP_SERVERLESS_ORG: ${{ secrets.TLA_SAMPLE_APP_SERVERLESS_ORG }}
          SLS_AWS_SDK: 3
